.calendar-wrapper {
    .calendar-container{
        @extend .center-by-flex;
        height: 200px
        
    }
    span {
        @extend .center-by-flex;
        font-size: 18px;
        color: $body-text;
        margin: 30px 0px;
    }
}

.calendar-horizontal{
    @extend .center-by-flex;
    width:50%;
    justify-content: space-evenly;
    font-size: 30px;
    div{
        @extend .center-by-flex;
        background-color: $body-hover;
        border-radius: 15px;
        
    }
}